.button-in-home-screen {
   margin-top: 1%;
   border-radius: 10px;
}

.title-home {
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 1%;
}
.button-in-home-screen-2 {
   margin-top: 1%;
}
.title1 {
   font-size: 18px;
   text-decoration: underline;
   margin-left: 1%;
   margin-bottom: 0.5%;
}

.profile-info {
   margin-left: 1%;
}

.placeholder {
   border: 1px solid black; /* или любой другой цвет */
   border-radius: 8px; /* скругление углов */
   padding: 16px; /* внутренние отступы */
   margin-bottom: 16px; /* отступ снизу */
   background: #ffffff; /* белый фон (или другой) */
}